<div>
    <input type="search" class="form-control app-search" placeholder="Buscar..."  ng-model="query.name" />
    <div class="scrollable">
      <div class="scrollable-content">
        <div class="list-group">
          <a ng-repeat="Evento in dataEventos | filter:query | orderBy:'name'| limitTo:pageSize" class="list-group-item media" href="#/evento/{{ Evento.id }}">
              <div ng-switch on="!!Evento.avatarviradaSmall.url"  class="pull-right">
                  <div ng-switch-when="false"><span class="label label-success">{{ Evento.classificacaoEtaria }}</span> </div>
                  <div ng-switch-default><img ng-src="{{Evento.avatarviradaSmall.url }}" class="img-rounded pull-left" width="90px"></div>
              </div>
            <div class="media-body"><h5><strong>{{ Evento.name }}</strong></h5><br>
                {{Evento.local.name}}<br>
                <small>{{Evento.startsOn | date:'dd/MM/yyyy'}} - {{ Evento.startsAt }}</small>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>

