<div>
    <input type="search" class="form-control app-search" placeholder="Buscar..."  ng-model="query.name" />
    <div class="scrollable">
      <div class="scrollable-content">
        <div class="list-group" infinite-scroll='loadMore()' infinite-scroll-distance='2' style="margin-bottom: 50px;">
          <a ng-repeat="Evento in dataEventos | filter:query | orderBy:'name'| limitTo:pageSize" class="list-group-item media" href="#/evento/{{ Evento.id }}" id="e{{Evento.id}}">
              <div ng-switch on="!!Evento.defaultImageThumb"  class="pull-right">
                  
                  <div ng-switch-default><img ng-src="{{Evento.defaultImageThumb }}" class="img-rounded pull-left" width="90px" ng-show=" navigator.onLine==true"></div>
              </div>
            <div class="media-body"><h5><strong>{{ Evento.name }}</strong></h5><br>
                {{Evento.local.name}}<br>
                <small><div ng-show='!!Evento.terms.tag[0]'>{{ Evento.terms.tag[0] }}<br></div> {{Evento.startsOn | date:'dd/MM/yyyy'}} - {{ Evento.startsAt }}</small>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>

    <div class="navbar navbar-app navbar-absolute-bottom">
      <div class="btn-group justified">
        <a href="#/locais" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> Locais</a>
        <a href="#/favoritos" class="btn btn-navbar"><i class="fa fa-star fa-navbar"></i> Favoritos</a>
<a href="#/map" class="btn btn-navbar">
            <i class="fa fa-globe"></i> Mapa
          </a>
          
        </div>
    </div>


<div content-for="navbarAction">
          <div ng-click="toggle('rightSidebar')" class="btn btn-navbar">
            <i class="fa fa-bars"></i>
          </div>
</div>

<div content-for="navbarAction2">
</div>
