<div class="scrollable ng-scope">
  <div class="scrollable-content">
    <div class="list-group" toggle="off" bubble="" target="rightSidebar" style="margin: 0;">
          <a class="list-group-item media" href="#/cate/Intervenção">
                Intervenção<br>
          </a><a class="list-group-item media" href="#/cate/Dança">
                Dança<br>
          </a><a class="list-group-item media" href="#/cate/Cinema">
                Cinema<br>
          </a><a class="list-group-item media" href="#/cate/Gastronomia">
                Gastronomia<br>
          </a><a class="list-group-item media" href="#/cate/Crianças">
                Crianças<br>
          </a><a class="list-group-item media" href="#/cate/Literatura">
                Literatura<br>
          </a><a class="list-group-item media" href="#/cate/Artes Visuais">
                Artes Visuais<br>
          </a><a class="list-group-item media" href="#/cate/Exposições">
                Exposições<br>
          </a><a class="list-group-item media" href="#/cate/Artes Manuais">
                Artes Manuais<br>
          </a><a class="list-group-item media" href="#/cate/Meio Ambiente">
                Meio Ambiente<br>
          </a><a class="list-group-item media" href="#/cate/Circo">
                Circo<br>
          </a><a class="list-group-item media" href="#/cate/Artemídia e Cultura Digital">
                Artemídia e Cultura Digital<br>
          </a><a class="list-group-item media" href="#/cate/Cultura Popular">
                Cultura Popular<br>
          </a><a class="list-group-item media" href="#/cate/Cinema e Vídeo">
                Cinema e Vídeo<br>
          </a><a class="list-group-item media" href="#/cate/Teatro">
                Teatro<br>
          </a><a class="list-group-item media" href="#/cate/Música">
                Música<br>
          </a><a class="list-group-item media" href="#/cate/Encontro">
                Encontro<br>
          </a><a class="list-group-item media" href="#/cate/Teatro Adulto">
                Teatro Adulto<br>
          </a><a class="list-group-item media" href="#/cate/Alimentação">
                Alimentação<br>
          </a><a class="list-group-item media" href="#/cate/Sarau">
                Sarau<br>
          </a><a class="list-group-item media" href="#/cate/Oficinas">
                Oficinas<br>
          </a><a class="list-group-item media" href="#/cate/Esporte e Atividade Física">
                Esporte e Atividade Física<br>
          </a><a class="list-group-item media" href="#/cate/Instalação">
                Instalação<br>
          </a><a class="list-group-item media" href="#/cate/Contação de História">
                Contação de História<br>
          </a><a class="list-group-item media" href="#/cate/Musical">
                Musical<br>
          </a><a class="list-group-item media" href="#/cate/Teatro Infantil">
                Teatro Infantil<br>
          </a><a class="list-group-item media" href="#/cate/encontro">
                encontro<br>
          </a><a class="list-group-item media" href="#/cate/Teatro de Rua">
                Teatro de Rua<br>
          </a><a class="list-group-item media" href="#/cate/Stand Up">
                Stand Up<br>
          </a><a class="list-group-item media" href="#/cate/Cultura Oriental">
                Cultura Oriental<br>
          </a><a class="list-group-item media" href="#/cate/Oficina">
                Oficina<br>
          </a><a class="list-group-item media" href="#/cate/DanHça">
                DanHça<br>
          </a><a class="list-group-item media" href="#/cate/Geek">
                Geek<br>
          </a><a class="list-group-item media" href="#/cate/Infantil">
                Infantil<br>
          </a><a class="list-group-item media" href="#/cate/Cabaré">
                Cabaré<br>
          </a>
        </div>
      </div>
   </div>